<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p class="lead">
      <img style="border-radius: 100%;" [src]="githubData.avatar_url" alt="">
    </p>
  </div>
  
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{githubData.login}}</h4>
        </div>
      </div>
    </div>
  </div>